body {
  background: #111;
  color: white;
  font-family: Arial;
  text-align: center;
}

.card {
  background: #222;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

img {
  width: 150px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
}